*,*::after*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    font-family: 'Jost', sans-serif;
}
html::-webkit-scrollbar {
    width: 12px;
    height: 7px;
    margin-right: 2px;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(60deg, #CE0000 43%, #CE0000 49%);
    border-radius: 12px;
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #CE0000 14%, #CE0000 64%);
}

html::-webit-scrollbar-track {
    background: rgba(245, 245, 245, 0.88);
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
    box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
}

.navbar .uk-dropdown {
    width: 340px;
    border-radius: 4px;
    border-top: 4px solid #CE0000;
}
.navbar .uk-dropdown-nav>li>a {
    color: #1d1d1b;
    position: relative;
}
.nav-link.active {
    color: #111;
    opacity: 1;
    border-bottom: 2px solid #CE0000;
}
.nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
}
.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
    background-color: #111;
    width: 350px;
}
.navbar .uk-offcanvas-close {
    position: static;
    padding: 0;
}
.navbar .uk-offcanvas-close svg {
    fill: #fff;
}
.navbar .uk-offcanvas-close svg:nth-child(2) {
    display: none;
}
.uk-dotnav>.uk-active>* {
    background-color: #111111cd !important;
    opacity: 1 !important;
}
.uk-dotnav>*>* {
    background-color: #111 !important;
    opacity: 0.1 !important;
}
.work-text-side-wrapper {
    margin-top: 70px;
}
//about page start
.about-list li:nth-child(even) > div {
    display: flex;
    flex-direction: row-reverse;
}
.about-list li > div > div img {
    height: 441px;
}
.driver-qualification-container {
    height: 450px;
}
.orientation-container {
    width: 750px;
}
// why choose us section start
.testimonials-item {
    width: 90%;
}
.testimonials-section {
    .uk-dotnav {
        justify-content: start;
        margin-left: 10px;
    }
    .uk-dotnav > * > * {
        background-color: #fff !important;
        opacity: 0.36;
        border-radius: 1px;
        width: 30px;
        height: 10px;
    }
}
.testimonials-img-container {
    margin-left: 120px;
}
.anim-bg:hover {
    -webkit-box-shadow: inset 16em 0 #fff;
    box-shadow: inset 16em 0 #fff;
}
.form-input:focus {
    border: none;
    border: 2px inset #CE0000 !important;
}
.form-input::-webkit-input-placeholder  {
    color: #111;
    opacity: 0.36;
    font-weight: normal;
    font-size: 18px !important;
}
.form-input-file::-ms-value {
    display: none;
}
.apply-content-wrapper {
    right: 0;
}
#formcheck {
    border: 2px solid #E30613;
    border-radius: 6px;
}
#formcheck:checked {
    background: no-repeat center/auto url("../img/svg/check.svg");
}
.navbar {
    .text-area-nav {
        color: #111 !important;
        font-size: 18px;
    }
    .text-area-nav:focus {
        outline: 2px solid #CE0000;
        background-color: #f8f8f8;
    }
    .text-area-nav {
        border: none;
        background-color: #f8f8f8;
    }
    .text-area-nav::-webkit-input-placeholder  {
        color: #111;
        opacity: 0.36;
        font-weight: normal;
        font-size: 18px;
    }
    .text-area-nav:-ms-input-placeholder {
        color: #111 !important;  
    }
}
.contact {
    textarea {
        color: #111 !important;
        font-size: 18px;
    }
    textarea:focus {
        outline: 2px solid #CE0000;
    }
    .uk-textarea {
        border: none;
        background-color: #f8f8f8;
    }
    .uk-textarea::-webkit-input-placeholder  {
        color: #111;
        opacity: 0.36;
        font-weight: normal;
        font-size: 18px;
    }
    textarea:-ms-input-placeholder {
        color: #111 !important;  
    }
}
.swiper-button-next {
    top: auto !important;
    bottom: 0;
    right: auto !important;
    left: 250px !important;
    padding: 20px;
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}
.main__swiper_left {
    background-image: url("../img/svg/arrow-circle-left.svg");
    transform: rotate(180deg);
    width: 58px;
    height: 58px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main__swiper_left::after {
    display: none;
}
.swiper-pagination {
    color: #111;
    font-size: 18px;
}
.swiper-pagination-current {
    margin-right: 10px;
}
.swiper-pagination-total {
    margin-left: 10px;
}
.swiper-button-prev {
    top: auto !important;
    bottom: 0;
    right: auto !important;
    left: 200px !important;
    padding: 20px;
    z-index: 1;
}
.swiper-button-prev {
    background-image: url("../img/svg/arrow-circle-left.svg");
    width: 58px;
    height: 58px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.swiper-button-prev::after {
    display: none;
}
.swiper-wrapper {
    padding-bottom: 120px;
}
.main-text-wrapper {
    padding-top: 160px;
    padding-bottom: 160px;
}
.digitals-container {
    padding-left: 150px;
}
.services-item.active {
    .wrapper {
        background-color: #CE0000 !important;
    }
    .box {
        background-color: #fff;
    }
    .title {
        color: #fff;
    }
    .paragraph {
        color: #fff;
    }
    .service-link p {
        color: #fff;
    }
}
// why choose us section end
// Responsivr start
@media (min-width: 1920px) {
    .header {
        max-width: 1920px;
        left: 50%;
        transform: translateX(-50%);
    }
    .uk-section {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1800px) {
    .main-img-1 img {
        width: 1370px;
    }
    .main-img-2 img {
        width: 970px;
    }
    .main-img-2 {
        bottom: -500px;
    }
    .main-img-3 img {
        width: 920px;
    }
    .main-img-4 {
        right: 0;
    }
    .main-img-4 img {
        width: 950px;
    }
    .main-slider-pagination {
        left: 90px;
    }
    .testimonials-img-container {
        margin-left: 40px;
    }
    .digitals-container {
        padding-left: 100px;
    }
}
@media (max-width: 1700px) {
    .swiper-wrapper {
        padding-bottom: 150px;
    }
    .main-img-1 img {
        width: 1290px;
    }
    .main-img-1 {
        bottom: -160px;
    }
    .main-img-2 img {
        width: 900px;
    }
    .main-img-3 img {
        width: 870px;
    }
    .main-img-4 {
        right: -60px;
    }
    .main-img-4 img {
        width: 900px;
    }
    .main-slider-pagination {
        left: 40px;
    }
    .work-text-side-wrapper {
        margin-top: 50px;
    }
    .testimonials-img-container {
        margin-left: 0px;
    }
    .swiper-paginations-wrapper {
        margin-left: 50px;
    }
    .digitals-container {
        padding-left: 50px;
    }
}
@media (max-width: 1630px) {
    .swiper-wrapper {
        padding-bottom: 120px;
    }
    .main-img-1 img {
        width: 1200px;
    }
    .main-img-2 {
        bottom: -450px;
    }
    .main-img-2 img {
        width: 850px;
    }
    .main-img-3 img {
        width: 800px;
    }
    .main-text-wrapper {
        margin-left: 0px !important;
    }
    .main-slider-pagination {
        left: 30px;
    }
    .main-img-4 {
        right: 0;
        bottom: -500px;
    }
    .main-img-4 img {
        width: 950px;
    }
    .why-content-2 {
        top: 850px;
    }
    .why-content-3 {
        top: 1100px;
    }
    .why-content-4 {
        top: 1350px;
    }
    .contact-form-wrapper {
        width: 650px;
    }
    .about-mount-content-wrapper-line-left {
        right: -50px;
    }
    .about-mount-content-wrapper-line-right {
        left: -135px;
    }
    .swiper-paginations-wrapper {
        margin-left: 40px;
    }
}
@media (max-width: 1600px) {
    .main-img-1 img {
        width: 1160px;
    }
    .main-img-2 img {
        width: 830px;
    }
    .main-img-3 img {
        width: 780px;
    }
    .about-mount-content-wrapper-line-left {
        right: -20px;
    }
}
@media (max-width: 1550px) {
    .main-img-1 {
        bottom: -100px;
    }
    .main-img-1 img {
        width: 1100px;
    }
    .main-img-2 img {
        width: 780px;
    }
    .main-img-3 img {
        width: 720px;
    }
    .main-img-4 {
        bottom: -480px;
    }
    .main-img-4 img {
        width: 840px;
    }
    .why-content-2 {
        top: 800px;
    }
    .why-content-3 {
        top: 1050px;
    }
    .why-content-4 {
        top: 1300px;
    }
    .why-content-1-circle {
        left: -170px;
    }
    .why-content-1-thin-line {
        left: -150px;
    }
    .why-content-2-circle {
        right: -180px;
    }
    .why-content-2-thin-line {
        right: -150px;
    }
    .why-content-3-circle {
        left: -180px;
    }
    .why-content-3-thin-line {
        left: -160px;
    }
    .why-content-4-circle {
        right: -190px;
    }
    .why-content-4-thin-line {
        right: -160px;
    }
    .work-text-side-wrapper {
        margin-top: 20px;
    }
    .testimonials-item {
        width: 100%;
    }
    .testimonials-pagination-wrapper {
        margin-top: 0;
    }
    .contact-form-wrapper {
        width: 600px;
    }
    .about-mount-content-wrapper-line-left {
        right: 40px;
    }
    .about-mount-content-wrapper-line-left > div {
        width: 500px;
    }
    .about-mount-content-wrapper-line-right {
        left: -135px;
    }
    .orientation-container {
        width: 700px;
    }
    .apply-content-wrapper {
        right: 0px;
    }
}
@media (max-width: 1536px) {
    .main-img-1 img {
        width: 1250px;
    }
    .main-img-1 {
        bottom: -180px;
    }
    .main-img-2 {
        bottom: -300px;
    }
    .main-img-2 img {
        width: 770px;
    }
    .main-img-3 img {
        width: 720px;
    }
    .main-img-4 {
        bottom: -470px;
        right: -30px;
    }
    .work-text-side-wrapper {
        margin-top: 50px;
    }
    .testimonials-pagination-wrapper {
        margin-top: 30px;
    }
    .about-list li > div > div img {
        height: 437px;
    }
    .about-mount-content-wrapper-line-left {
        right: 10px;
    }
    .about-mount-content-wrapper-line-left > div {
        width: 540px;
    }
    .about-mount-content-wrapper-line-right {
        left: -90px;
    }
    .about-mount-content-wrapper-circle {
        right: 650px;
    }
    .digitals-container {
        padding-left: 40px;
    }
}
@media (max-width: 1535px) { 
    .why-content-1-line {
        top: 20px;
    }
    .why-content-1-circle {
        left: -260px;
        top: 7px;
    }
    .why-content-1-thin-line {
        left: -240px;
        top: 21px;
    }
    .why-content-1-thin-line div {
        width: 240px;
    }
    .why-content-2-line {
        top: 20px;
    }
    .why-content-2-circle {
        right: -185px;
        top: 7px;
    }
    .why-content-2-thin-line {
        right: -170px;
        top: 21px;
    }
    .why-content-3-line {
        top: 20px;
    }
    .why-content-3-circle {
        left: -280px;
        top: 7px;
    }
    .why-content-3-thin-line {
        left: -256px;
        top: 21px;
    }
    .contact-form-wrapper {
        width: 700px;
    }
    .apply-content-wrapper {
        right: 70px;
    }
}
@media (max-width: 1500px) {
    .nav-menu {
        display: none;
    }
    .nav-bar {
        display: block !important;
    }
    .main-img-3 {
        bottom: -400px;
    }
    .main-img-1 img {
        width: 1200px;
    }
    .main-img-2 img {
        width: 800px;
    }
    .main-img-3 img {
        width: 800px;
    }
    .main-img-4 {
        right: 0px;
    }
    .why-content-1 {
        top: 600px;
    }
    .why-content-2 {
        top: 800px;
    }
    .why-content-3 {
        top: 1000px;
    }
    .why-content-4 {
        top: 1250px;
    }
    .contact-form-wrapper {
        width: 650px;
    }
    .about-mount-content-wrapper-line-left {
        right: -50px;
    }
    .about-mount-content-wrapper-line-right {
        left: -85px;
    }
}
@media (max-width: 1450px) {
    .about-mount-content-wrapper-circle {
        right: 600px;
    }
    .about-mount-content-wrapper-line-left {
        right: -50px;
    }
    .about-mount-content-wrapper-line-right {
        left: -35px;
    }
}
@media (max-width: 1400px) {
    .main-img-1 {
        bottom: -120px;
    }
    .main-img-1 img {
        width: 1060px;
    }
    .main-img-2 img {
        width: 750px;
    }
    .main-img-3 img {
        width: 720px;
    }
    .main-img-4 {
        right: 0;
        bottom: -400px;
    }
    .main-img-4 img {
        width: 740px;
    }
    .why-content-1 {
        top: 570px;
    }
    .why-content-2 {
        top: 750px;
    }
    .why-content-3 {
        top: 950px;
    }
    .why-content-4 {
        top: 1150px;
    }
    .work-text-side-wrapper {
        margin-top: 0px;
    }
    .contact-form-wrapper {
        width: 600px;
    }
    .about-mount-content-wrapper-circle {
        right: 570px;
    }
    .about-mount-content-wrapper-line-left {
        right: -30px;
    }
    .about-mount-content-wrapper-line-right {
        left: -15px;
    }
    .driver-qualification-container {
        height: 600px;
    }
}
@media (max-width: 1350px) {
    .main-img-1 {
        bottom: -270px;
    }
    .main-img-1 {
        bottom: -80px;
    }
    .main-img-1 img {
        width: 980px;
    }
    .main-img-2 img {
        width: 700px;
    }
    .main-img-3 img {
        width: 680px;
    }
    .about-mount-content-wrapper-circle {
        right: 550px;
    }
    .about-mount-content-wrapper-line-left {
        right: -10px;
    }
    .about-mount-content-wrapper-line-right {
        left: 0px;
    }
    .apply-content-wrapper {
        right: 0px;
    }
}
@media (max-width: 1300px) {
    .swiper-wrapper {
        padding-bottom: 50px;
    }
    .main-img-1 {
        bottom: -70px;
    }
    .main-img-1 img {
        width: 900px;
    }
    .main-img-2 img {
        width: 660px;
    }
    .main-img-4 {
        bottom: -380px;
    }
    .main-img-3 {
        bottom: -300px;
    }
    .main-img-3 img {
        width: 620px;
    }
    .why-content-1 {
        top: 520px;
    }
    .why-content-2 {
        top: 680px;
    }
    .why-content-3 {
        top: 850px;
    }
    .why-content-4 {
        top: 1050px;
    }
    .why-content-1-circle {
        left: -160px;
    }
    .why-content-1-thin-line {
        left: -130px;
        top: 21px;
    }
    .why-content-2-circle {
        right: -80px;
    }
    .why-content-2-thin-line {
        right: -70px;
    }
    .why-content-3-circle {
        left: -170px;
    }
    .why-content-3-thin-line div {
        width: 200px;
    }
    .why-content-3-thin-line {
        left: -150px;
        top: 21px;
    }
    .why-content-4-circle {
        right: -90px;
    }
    .why-content-4-thin-line {
        right: -70px;
    }
    .work-text-side-wrapper {
        margin-top: 30px;
    }
    .contact-form-wrapper {
        width: 580px;
    }
    .about-mount-content-wrapper-circle {
        display: none;
    }
    .about-mount-content-wrapper-line-left {
        display: none;
    }
    .about-mount-content-wrapper-line-right {
        display: none;
    }
}
@media (max-width: 1280px) {
    .swiper-wrapper {
        padding-bottom: 0;
    }
    .main-img-1 img {
        width: 950px;
    }
    .main-img-2 img {
        width: 770px;
    }
    .main-img-3 img {
        width: 720px;
    }
    .main-img-3 {
        bottom: -350px;
    }
    .main-img-4 {
        bottom: -400px;
    }
    .main-img-4 img {
        width: 720px;
    }
    .about-list li > div > div img {
        height: 361px;
    }
    .about-mount-content-wrapper-line-thin-left {
        top: 40px;
    }
    .about-mount-content-wrapper-line-thin-right {
        top: 40px;
    }
    .apply-content-wrapper {
        right: 30px;
    }
}
@media (max-width: 1200px) {
    .main-img-1 img {
        width: 800px;
    }
    .main-img-2 img {
        width: 700px;
    }
    .main-img-3 img {
        width: 620px;
    }
    .main-img-4 img {
        width: 650px;
    }
    .main-img-4 {
        bottom: -40px;
    }
    .why-content-1 {
        top: 470px;
    }
    .why-content-2 {
        top: 650px;
    }
    .why-content-3 {
        top: 800px;
    }
    .why-content-4 {
        top: 950px;
    }
    .why-content-1-circle {
        left: -130px;
    }
    .why-content-1-thin-line {
        left: -110px;
    }
    .why-content-2-circle {
        right: -50px;
    }
    .why-content-2-thin-line {
        right: -30px;
    }
    .why-content-2-thin-line div {
        width: 300px;
    }
    .why-content-3-circle {
        left: -140px;
    }
    .why-content-3-thin-line {
        left: -110px;
    }
    .why-content-4-circle {
        right: -50px;
    }
    .why-content-4-thin-line {
        left: 0px;
    }
    .why-content-4-thin-line div {
        width: 470px;
    }
    .work-text-side-wrapper {
        width: 450px;
    }
    .work-text-side-wrapper {
        margin-top: 15px;
    }
    .driver-qualification-line {
        margin-left: 10px;
    }
    .apply-content-wrapper {
        right: 70px;
    }
}
@media (max-width: 1130px) {
    .main-img-1 img {
        width: 750px;
    }
    .main-img-2 img {
        width: 620px;
    }
    .main-img-3 img {
        width: 580px;
    }
    .main-img-4 img {
        width: 600px;
    }
    .contact-form-wrapper {
        width: 550px;
    }
}
@media (max-width: 1100px) {
    .main-text-wrapper {
        padding-top: 100px;
    }
    .main-img-1 img {
        width: 700px;
    }
    .main-img-3 img {
        width: 550px;
    }
    .main-slider-pagination {
        bottom: 0;
    }
    .main-img-2 img {
        width: 550px;
    }
    .main-img-4 img {
        width: 550px;
    }
    
    .why-content-1 {
        top: 430px;
    }
    .why-content-2 {
        top: 550px;
    }
    .why-content-3 {
        top: 680px;
    }
    .why-content-4 {
        top: 800px;
    }
    .why-content-1-circle {
        left: -90px;
    }
    .why-content-1-thin-line {
        left: -80px;
    }
    .why-content-2-circle {
        right: 0px;
    }
    .why-content-2-thin-line {
        right: 0px;
    }
    .why-content-2-thin-line div {
        width: 270px;
    }
    .why-content-3-circle {
        left: -100px;
    }
    .why-content-3-thin-line {
        left: -70px;
    }
    .why-content-4-circle {
        right: 0px;
    }
    .why-content-4-thin-line {
        left: 0px;
    }
    .why-content-4-thin-line div {
        width: 430px;
    }
    .work-text-side-wrapper {
        width: 400px;
    }
    .work-text-side-wrapper {
        margin-top: 0px;
    }
}
@media (max-width: 1030px) {
    .main-img-1 {
        bottom: -70px;
    }
    .main-img-2 img {
        width: 500px;
    }
    .main-img-3 img {
        width: 500px;
    }
    .main-img-4 {
        bottom: -50px;
    }
    .why-section-contents-wrapper {
        display: none;
    }
    .why-section-contents-wrapper-2 {
        display: block !important;
    }
    .why-section-contents-wrapper-2-img {
        display: block !important;
    }
    .work-text-side-wrapper {
        width: 100%;
        justify-content: start;
    }
    .work-text-side-wrapper__wrapper {
        width: 70%;
    }
    .contact-form-wrapper {
        width: 500px;
    }
    .about-list li > div > div img {
        height: 286px;
    }
}
@media (max-width: 990px) {
    .main-img-1 img {
        width: 600px;
    }
    .main-img-2 img {
        width: 450px;
    }
    .main-img-3 img {
        width: 480px;
    }
    .main-slider-pagination {
        bottom: -50px;
    }
}
@media (max-width: 960px) {
    .main-second-slider-content {
        padding-left: 22px;
        padding-right: 22px;
    }
    .digitals-number-wrapper {
        margin-top: 70px;
    }
    .work-text-side-wrapper__wrapper {
        width: 100%;
        padding-right: 25px;
    }
    .contact-form-wrapper {
        width: 700px;
    }
    .about-list li:nth-child(1) > div {
        margin-top: 0;
    }
    .about-list li > div {
        margin-top: 40px;
    }
    .about-list li > div > div img {
        height: 488px;
        margin-top: 40px;
    }
    .driver-qualification-container {
        height: auto;
    }
    .apply-content-wrapper {
        right: 0px;
    }
}
@media (max-width: 760px) {
    .testimonials-slider-container ul {
        max-height: auto;
    }
    .contact-form-wrapper {
        width: 100%;
    }
    .about-list li > div > div img {
        height: auto;
    }
}
@media (max-width: 640px) {
    .digitals-number-wrapper {
        margin-top: 40px;
    }
    .uk-container {
        padding-right: 22px;
        padding-left: 22px;
    }
    .uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
        width: 90%;
    }
    .digitals-container {
        padding-left: 22px;
        padding-right: 22px;
    }
}
@media (max-width: 540px) {
    
}
@media (max-width: 420px) {
    
}
@media (max-width: 350px) {
    
}
@media (max-width: 300px) {
    .uk-dotnav > * > * {
        border-radius: 0px;
        width: 10px !important;
        height: 10px !important;
    }
}
// responsive end

// Animations start
.animBtnFill {
    display: flex;
    position: relative;
    overflow: hidden;
    background: transparent;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.animBtnFill:before,
.animBtnFill:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #CE0000;
    z-index: -1;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.animBtnFill:before {
    opacity: .5;
}

.animBtnFill:after {
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}

.animBtnFill:hover {
    color: #fff !important;
}

.animBtnFill:hover:before,
.animBtnFill:hover:after {
    bottom: 0;
}
.line-animation {
    position: relative;
}

.line-animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #CE0000;
    bottom: -7px;
    left: 0;
    border-radius: 10px;
}

.line-animation:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #CE0000;
    bottom: -4px;
    left: 0%;
    border-radius: 10px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}
.line-animation-black {
    position: relative;
}

.line-animation-black::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #111;
    bottom: -7px;
    left: 0;
    border-radius: 10px;
}

.line-animation-black:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #111;
    bottom: -4px;
    left: 0%;
    border-radius: 10px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}
.anim-border {
    box-shadow: inset 0 0 0 2px #e3e3e5;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.anim-border::before, .anim-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.anim-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}
.anim-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
}
.anim-border:hover {
    color: #111 !important; 
}
.anim-border:hover::before, .anim-border:hover::after {
    border-color: #111;
    border-radius: 4px;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.anim-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.anim-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.anim-bg:hover {
    color: #CE0000 !important;
}
.anim-bg {
    letter-spacing: 1px;
    -webkit-box-shadow: inset 0 0 #fff;
    box-shadow: inset 0 0 #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.driver-qualification-line1 {
    animation: line 14s ease-in-out infinite forwards;
}
.driver-qualification-circle1 {
    animation: circle 1s ease 7s infinite;
}
.driver-qualification-circle2 {
    animation: circle2 1s ease 14s infinite forwards;
}
.testimonials-img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.3;
}
// animations end

@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost/Jost-Medium.woff2') format('woff2'),
    url('../fonts/jost/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost/Jost-Regular.woff2') format('woff2'),
    url('../fonts/jost/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost/Jost-SemiBold.woff2') format('woff2'),
    url('../fonts/jost/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost/Jost-Light.woff2') format('woff2'),
    url('../fonts/jost/Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost/Jost-Bold.woff2') format('woff2'),
    url('../fonts/jost/Jost-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.loader-title {
    color: #FFFFFF;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}

.loader-title:after {
    position: absolute;
    content: "";
    -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
    animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
}

.loader {
    margin: 5% auto 30px;
}

.book {
    border: 4px solid #FFFFFF;
    width: 60px;
    height: 45px;
    position: relative;
    perspective: 150px;
}

.page {
    display: block;
    width: 30px;
    height: 45px;
    border: 4px solid #FFFFFF;
    border-left: 1px solid #CE0000;
    margin: 0;
    position: absolute;
    right: -4px;
    top: -4px;
    overflow: hidden;
    background: #CE0000;
    transform-style: preserve-3d;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.book .page:nth-child(1) {
    -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
    animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
}

.book .page:nth-child(2) {
    -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
    animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
}

.book .page:nth-child(3) {
    -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
    animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
}


/* Page turn */

@-webkit-keyframes pageTurn {
    0% {
        -webkit-transform: rotateY( 0deg);
        transform: rotateY( 0deg);
    }
    20% {
        background: #CE0000;
    }
    40% {
        background: #CE0000;
        -webkit-transform: rotateY( -180deg);
        transform: rotateY( -180deg);
    }
    100% {
        background: #CE0000;
        -webkit-transform: rotateY( -180deg);
        transform: rotateY( -180deg);
    }
}

@keyframes pageTurn {
    0% {
        transform: rotateY( 0deg);
    }
    20% {
        background: #CE0000;
    }
    40% {
        background: CE0000;
        transform: rotateY( -180deg);
    }
    100% {
        background: #CE0000;
        transform: rotateY( -180deg);
    }
}


/* Dots */

@-webkit-keyframes Dots {
    0% {
        content: "";
    }
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}

@keyframes Dots {
    0% {
        content: "";
    }
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}
