<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linestar</title>
    
    <link rel="stylesheet" href="../assets/css/uikit.min.css" />
    <link rel="stylesheet" href="../assets/css/tailwind.css" />
    
    <link rel="stylesheet" href="../assets/sass/styles.css">
    <link rel="icon" href="../assets/img/svg/logo.svg">
    
</head>
<body>
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top; sel-target: .header; cls-active: uk-navbar-sticky bg-[#fff]; cls-inactive: uk-navbar-transparent z-[9]; top: 200;" class="navbar">
        <header id="mainHeader" class="header absolute top-0 left-0 w-full z-10 border-b border-[#f2f2f2]">
            
            <div class="uk-container uk-container-xlarge">
                <nav class="navbar uk-flex uk-flex-middle" uk-grid>
                    
                    <div class="uk-navbar-left">
                        <div class="uk-flex-middle" uk-grid>
                            <div>
                                <ul class="uk-animation-fade">
                                    <li>
                                        <a href="index.html">
                                            <img class="w-[130px] sm:w-[148px]" src="../assets/img/svg/logo.svg" alt="Logo">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div>
                                <div>
                                    <hr class="border-none w-[1px] h-[79px] sm:h-[128px] bg-[#111111] bg-opacity-[0.06]">
                                </div>
                            </div>
                            
                            <div class="nav-menu">
                                <ul class="uk-flex-middle 2xl:space-x-[7px]" uk-grid>
                                    <li class="text-[#111] text-opacity-[0.64] uk-animation-fade">
                                        <a href="index.html" class="nav-link active text-[#111] text-opacity-[0.64] hover-link-none">
                                            Home
                                        </a>
                                    </li>
                                    <li class="text-[#111] text-opacity-[0.64] uk-animation-fade">
                                        <a href="about.html" class="nav-link text-[#111] text-opacity-[0.64] hover-link-none">
                                            About us
                                        </a>
                                    </li>
                                    <li class="text-[#111] text-opacity-[0.64] uk-animation-fade">
                                        <a href="choose.html" class="nav-link text-[#111] text-opacity-[0.64] hover-link-none">
                                            Why choose us
                                        </a>
                                    </li>
                                    <li class="text-[#111] text-opacity-[0.64] uk-animation-fade">
                                        <a href="services.html" class="nav-link text-[#111] text-opacity-[0.64] hover-link-none uk-flex uk-flex-middle group">
                                            <span>Our services</span>
                                            <svg class="ml-[6px] group-hover:rotate-[180deg] duration-200 stroke-current" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 4.75L6 8.25L2.5 4.75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </a>
                                        <div uk-dropdown="pos: bottom-left; animation: uk-animation-slide-top-small; duration: 200" style="padding: 20px 30px 30px 24px;">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="uk-parent">
                                                    <a href="./services.html#serviceItem1" class="uk-flex uk-flex-middle uk-flex-between mt-[3px] text-lg 2xl:text-xl">
                                                        Dry van
                                                        <svg class="stroke-current" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M1 7L4 4L1 1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>                                                            
                                                    </a>
                                                </li>
                                                <li class="uk-parent">
                                                    <a href="./services.html#serviceItem2" class="uk-flex uk-flex-middle uk-flex-between mt-[3px] text-lg 2xl:text-xl 2xl:mt-[10px]">
                                                        Partial Loads
                                                        <svg class="stroke-current" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M1 7L4 4L1 1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>  
                                                    </a>
                                                </li>
                                                <li class="uk-parent">
                                                    <a href="./services.html#serviceItem3" class="uk-flex uk-flex-middle uk-flex-between mt-[3px] text-lg 2xl:text-xl 2xl:mt-[10px]">
                                                        Drop and Hook
                                                        <svg class="stroke-current" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M1 7L4 4L1 1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>  
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="text-[#111] text-opacity-[0.64] uk-animation-fade">
                                        <a href="drivers.html" class="nav-link text-[#111] text-opacity-[0.64] hover-link-none">
                                            For drivers
                                        </a>
                                    </li>
                                    <li class="text-[#111] text-opacity-[0.64] uk-animation-fade">
                                        <a href="contact.html" class="nav-link text-[#111] text-opacity-[0.64] hover-link-none">
                                            Contacts
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="uk-navbar-right">
                        <div class="uk-flex-middle uk-grid-medium" uk-grid>
                            <div class="text-[#111] uk-visible@m uk-animation-fade">
                                <a href="apply.html" class="animBtnFill btn-first text-[18px] border-2 border-[#e3e3e5]  hover-link-none text-[#111]">
                                    Apply as driver
                                </a>
                            </div>
                            <div class="text-[#111] uk-visible@m uk-animation-fade">
                                <a href="#reqModal" class="animBtnFill btn-first text-[18px] border-2 border-[#e3e3e5] hover-link-none text-[#111]" uk-toggle>
                                    Request a quote
                                </a>
                            </div>

                            <div id="reqModal" class="uk-flex-top" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical">
                            
                                    <form method="post" action="" class="form uk-card-default uk-flex uk-flex-column uk-padding uk-flex-center bg-[#fff] rounded-[4px] uk-animation-fade">
                                        <div>
                                            <p class="text-[#111] text-lg font-400">
                                                We have an adept team of logistics experts who are on standby to help you and answer any queries you need.
                                            </p>
                                        </div>
                                        <div class="mt-[30px]">
                                            
                                            <div class="flex flex-col uk-position-relative">
                                                <div class="relative">
                                                    <div class="absolute top-1/2 -translate-y-1/2 left-[25px]">
                                                        <img src="../assets/img/svg/user.svg" alt="user">
                                                    </div>
                                                    <input type="text" placeholder="Your name" class="text-lg rounded-[4px] text-[#1d1d1b] bg-[#f8f8f8] w-full form-input px-[66px] py-[24px] focus:outline-none" required>
                                                </div>
                                                <div class="my-[24px] relative">
                                                    <div class="absolute top-1/2 -translate-y-1/2 left-[25px]">
                                                        <img src="../assets/img/svg/call.svg" alt="call">
                                                    </div>
                                                    <input type="text" placeholder="Phone number" class="text-lg rounded-[4px] text-[#1d1d1b] bg-[#f8f8f8] w-full form-input px-[66px] py-[24px] focus:outline-none" required>
                                                </div>
                                                <div>
                                                    <div>
                                                        <textarea class="uk-textarea bg-[#f8f8f8] rounded-[4px] border-none focus:outline-none px-[25px] py-[24px]" rows="8" placeholder="Textarea" style="resize: none;"></textarea>
                                                    </div>
                                                </div>
                                                <div class="mt-[24px]">
                                                    <div>
                                                        <label class="relative cursor-pointer">
                                                            <input class="uk-checkbox absolute top-[6px] left-0" id="formcheck" type="checkbox" required>
                                                            <p class="w-full text-sm text-[#111] text-opacity-[0.48] m-0">
                                                                <span class="ml-[20px]">By</span> clicking this you’re going to be agree with our privacy and policy.
                                                            </p>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="mt-[46px]">
                                                    <div class="text-[#fff] uk-animation-fade">
                                                        <button class="py-[14px] w-full text-[18px] bg-[#CE0000] hover-link-none text-[#fff]  hover:animate-pulse">
                                                            Request a quote
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                            
                                </div>
                            </div>
                            
                            <div class="uk-visible@m">
                                <div class="nav-item text-[#111]">
                                    <a href="#" class="nav-link hover:text-[#111] hover:no-underline text-[18px] text-[#111] flex items-center pl-[12px] uk-animation-fade group">
                                        ENG
                                        <svg class="ml-[6px] group-focus:rotate-[180deg] duration-200" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.5 4.75L6 8.25L2.5 4.75" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>                                            
                                    </a>
                                    <div class="uk-padding-remove rounded-[4px] border-t-2 border-[#CE0000]" style="min-width: 100px;" uk-dropdown="pos: bottom-justify;animation: uk-animation-slide-top-small; duration: 200; mode: click"> 
                                        <ul class="uk-grid uk-grid-small uk-flex-middle uk-flex-column uk-padding-small" uk-grid >
                                            <li class="uk-width-auto text-[#111]">
                                                <a href="#" class="hover-link-none text-[#111] text-lg">
                                                    RU
                                                </a>
                                            </li>
                                            <li class="uk-width-auto text-[#111]">
                                                <a href="#" class="hover-link-none text-[#111] text-lg">
                                                    UZ
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="nav-bar uk-hidden">
                                <div class="text-[#111]">
                                    <a href="javascript:void(0);" uk-toggle="target: #offcanvas-flip" class="hover-link">
                                        <ul class="uk-flex uk-flex-column space-y-[2px]">
                                            <li>
                                                <hr class="border-none w-[16px] h-[2px] bg-[#111]">
                                            </li>
                                            <li>
                                                <hr class="border-none w-[16px] h-[2px] bg-[#111]">
                                            </li>
                                            <li>
                                                <hr class="border-none w-[16px] h-[2px] bg-[#111]">
                                            </li>
                                        </ul>                                           
                                    </a>
                                </div>
                                
                                <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
                                    <div class="uk-offcanvas-bar">
                                        
                                        <div class="uk-flex uk-flex-right">
                                            <button class="uk-offcanvas-close" type="button" uk-close>
                                                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/></svg>
                                            </button>
                                        </div>
                                        
                                        <ul class="mt-[20px] items-end uk-flex-column uk-grid-small uk-text-uppercase uk-child-width-1-1" uk-grid uk-scrollspy="target: .animBottom; cls: uk-animation-slide-top-small; delay: 100; repeat: true">
                                            <li class="uk-flex uk-flex-right">
                                                <a href="index.html" class="font-400 animBottom">
                                                    Home
                                                </a>
                                            </li>
                                            <div>
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right">
                                                <a href="about.html" class="font-400 animBottom">
                                                    About us
                                                </a>
                                            </li>
                                            <div>
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right">
                                                <a href="choose.html" class="font-400 animBottom">
                                                    Why choose us
                                                </a>
                                            </li>
                                            <div>
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right">
                                                <a href="services.html" class="font-400 animBottom">
                                                    Our services
                                                </a>
                                            </li>
                                            <div>
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right">
                                                <a href="./services.html#serviceItem1" class="font-400 animBottom">
                                                    Dry van
                                                </a>
                                            </li>
                                            <div>
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right">
                                                <a href="./services.html#serviceItem2" class="font-400 animBottom">
                                                    Partial Loads
                                                </a>
                                            </li>
                                            <div>
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right">
                                                <a href="./services.html#serviceItem3" class="font-400 animBottom">
                                                    Drop and Hook
                                                </a>
                                            </li>
                                            <div>
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right">
                                                <a href="drivers.html" class="font-400 animBottom">
                                                    For drivers
                                                </a>
                                            </li>
                                            <div>
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right">
                                                <a href="contact.html" class="font-400 animBottom">
                                                    Contacts
                                                </a>
                                            </li>
                                            <div class="uk-hidden@m">
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right uk-hidden@m">
                                                <a href="apply.html" class="font-400 animBottom">
                                                    Apply as driver
                                                </a>
                                            </li>
                                            <div class="uk-hidden@m">
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right uk-hidden@m">
                                                <a href="#reqModal" class="font-400 animBottom" uk-toggle>
                                                    Request a quote
                                                </a>
                                            </li>
                                            <div>
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                            <li class="uk-flex uk-flex-right uk-hidden@m">
                                                <ul class="uk-grid-small uk-flex-middle" uk-grid>
                                                    <li class="text-[#fff]">
                                                        <a href="#" class="text-[#fff] font-400 hover-link animBottom">UZ</a>
                                                    </li>
                                                    <li>
                                                        <hr class="border-none w-[1px] h-[16px] bg-[#fff] bg-opacity-[0.06]">
                                                    </li>
                                                    <li class="text-[#fff]">
                                                        <a href="#" class="text-[#fff] font-400 hover-link animBottom">RU</a>
                                                    </li>
                                                    <li>
                                                        <hr class="border-none w-[1px] h-[16px] bg-[#fff] bg-opacity-[0.06]">
                                                    </li>
                                                    <li class="text-[#fff]">
                                                        <a href="#" class="text-[#fff] font-400 hover-link animBottom">EN</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <div class="uk-hidden@m">
                                                <hr class="border-none w-full h-[1px] bg-[#fff] bg-opacity-[0.06]">
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>    
                        </div>   
                    </div>                         
                </nav>
            </div>
            
        </header>
    </div>
    
    <section id="whuWeAre" class="uk-section pt-[140px] sm:pt-[180px]" uk-scrollspy="target: .animTop; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
        <div class="uk-container uk-container-xlarge" uk-scrollspy="target: .animFade; cls: uk-animation-fade; delay: 100; repeat: true">
            <div> 
                <p class="text-[#CE0000] uk-text-uppercase">ABOUT US</p>
                <h1 class="heading-second text-[#111] mt-[24px] animTop">Family focused and solution orientated</h1>
                <div class="mt-[18px] lg:w-[740px] animTop">
                    <p class="text-[#111] text-opacity-[0.86] text-lg xl:text-xl 2xl:text-2xl">
                        At Linestar, we pride ourselves on our lifetime accessibility. We’re here to help you with your transportation needs and answer any query.
                    </p>
                </div>
            </div>
            
            <div class="uk-margin-large-top">
                <ul class="uk-grid-collapse uk-child-width-1-1 about-list" uk-grid>
                    <li>
                        <div class="uk-grid-collapse uk-child-width-1-2@m flex-wrap-reverse uk-flex-middle uk-grid-match" uk-grid>
                            <div>
                                <img class="object-cover animFade" src="../assets/img/about/about-img-1.png" alt="about img" loading="lazy">
                            </div>
                            <div>
                                <div class="flex flex-col uk-text-center sm:px-[20px] xl:px-[107px]">
                                    <h3 class="text-[24px] lg:text-[30px] xl:text-[32px] 2xl:text-[36px] font-500">
                                        Innovative logistic company
                                    </h3>
                                    <div class="mt-[9px] lg:mt-[18px]">
                                        <p class="text-[#111] lg:text-lg text-opacity-[0.72]">
                                            Linestar logistics is an innovative carrier company devoted to ensuring rapid delivery times for customers in America. We supply our high caliber truckers with state-of-the-art fleet that changes on a 24 month basis. All are equipped with transponders and Elogs to ensure your freight is delivered with as few time constraints as possible. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid-collapse uk-child-width-1-2@m flex-wrap-reverse uk-flex-middle uk-grid-match" uk-grid>
                            <div>
                                <img class="object-cover animFade" src="../assets/img/about/about-img-2.png" alt="about img" loading="lazy">
                            </div>
                            <div>
                                <div class="flex flex-col uk-text-center sm:px-[20px] xl:px-[107px]">
                                    <h3 class="text-[24px] lg:text-[30px] xl:text-[32px] 2xl:text-[36px] font-500">
                                        Opportunities for team members
                                    </h3>
                                    <div class="mt-[9px] lg:mt-[18px]">
                                        <p class="text-[#111] lg:text-lg text-opacity-[0.72]">
                                            Transparency is at the heart of our company, and our drivers are more than just a number. We provide a wealth of opportunities for sustainable career growth for each member. Just ask our founder; he was a trucker himself and knows first hand the frustrations and feats many truckers face.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid-collapse uk-child-width-1-2@m flex-wrap-reverse uk-flex-middle uk-grid-match" uk-grid>
                            <div>
                                <img class="object-cover animFade" src="../assets/img/about/about-img-3.png" alt="about img" loading="lazy">
                            </div>
                            <div>
                                <div class="flex flex-col uk-text-center sm:px-[20px] xl:px-[107px]">
                                    <h3 class="text-[24px] lg:text-[30px] xl:text-[32px] 2xl:text-[36px] font-500">
                                        Bonuses for our team
                                    </h3>
                                    <div class="mt-[9px] lg:mt-[18px]">
                                        <p class="text-[#111] lg:text-lg text-opacity-[0.72]">
                                            It's for this reason; he's regularly providing insights and ways to help make Linestar team members feel appreciated. At present, truckers with us are entitled to advances, direct deposits, awards, vacation pay, referral programs, holiday pay, bonuses, and more. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid-collapse uk-child-width-1-2@m flex-wrap-reverse uk-flex-middle uk-grid-match" uk-grid>
                            <div>
                                <img class="object-cover animFade" src="../assets/img/about/about-img-4.png" alt="about img" loading="lazy">
                            </div>
                            <div>
                                <div class="flex flex-col uk-text-center sm:px-[20px] xl:px-[107px]">
                                    <h3 class="text-[24px] lg:text-[30px] xl:text-[32px] 2xl:text-[36px] font-500">
                                        24/7 support and safety
                                    </h3>
                                    <div class="mt-[9px] lg:mt-[18px]">
                                        <p class="text-[#111] lg:text-lg text-opacity-[0.72]">
                                            Plus, drivers are never left in the dark, whether they're behind the wheel or at home. At any time they need, they have a 24/7 logistics team to help with their reloads, deliveries, and safety. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid-collapse uk-child-width-1-2@m flex-wrap-reverse uk-flex-middle uk-grid-match" uk-grid>
                            <div>
                                <img class="object-cover animFade" src="../assets/img/about/about-img-5.png" alt="about img" loading="lazy">
                            </div>
                            <div>
                                <div class="flex flex-col uk-text-center sm:px-[20px] xl:px-[107px]">
                                    <h3 class="text-[24px] lg:text-[30px] xl:text-[32px] 2xl:text-[36px] font-500">
                                        Our team is our secret formula
                                    </h3>
                                    <div class="mt-[9px] lg:mt-[18px]">
                                        <p class="text-[#111] lg:text-lg text-opacity-[0.72]">
                                            This modern approach towards growth is part of the reason why most of our drivers have stayed with us from our birth till today. Our consistent focus and support towards our team is the secret formula to operating our services efficiently. We believe that we can only surpass our customers' needs by building flourishing relationships with our employees.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>  
    
    <section class="uk-section">
        <div class="uk-container uk-container-xlarge">
            <div class="bg-[#f8f8f8] w-full relative">
                <div class="absolute left-0 top-0">
                    <svg class="w-[30px] sm:w-auto" width="66" height="87" viewBox="0 0 66 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse opacity="0.48" cx="-4" cy="5.48057" rx="70" ry="81.212" fill="#CE0000"/>
                    </svg>                        
                </div>
                <div class="absolute right-[20%] top-0 uk-visible@s">
                    <svg width="183" height="43" viewBox="0 0 183 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse opacity="0.36" cx="91.5" cy="-63.5" rx="91.5" ry="106.5" fill="#CE0000"/>
                    </svg>                        
                </div>
                <div class="absolute bottom-0 right-0">
                    <svg width="77" height="107" viewBox="0 0 77 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse opacity="0.64" cx="93" cy="127.926" rx="93" ry="127.548" fill="#CE0000"/>
                    </svg>                        
                </div>
                
                <div class="uk-flex-middle uk-flex-between uk-padding-large md:py-[60px] md:px-[80px] uk-grid-large" uk-grid>
                    <div class="flex flex-col space-y-[12px]">
                        <h2 class="text-[#111] heading-third" uk-scrollspy="cls: uk-animation-fade; delay: 100; repeat: true">GET IN TOUCH</h2>
                        <div>
                            <p class="text-lg xl:text-xl 2xl:text-2xl text-[#111] text-opacity-[0.48]" uk-scrollspy="cls: uk-animation-fade; delay: 100; repeat: true">
                                At Linestar, we pride ourselves on our 24/7 accessibility.
                            </p>
                        </div>
                        <div class="text-[#CE0000]">
                            <a href="#" class="text-[#CE0000] font-500 text-lg xl:text-xl 2xl:text-2xl flex items-center hover-link-none group mt-[10px]" uk-scrollspy="cls: uk-animation-fade; delay: 100; repeat: true">
                                Request a quote
                                <img class="ml-[6px] group-hover:ml-[16px] duration-200" src="../assets/img/svg/arrow-right.svg" alt="arrow">
                            </a>
                        </div>
                    </div>
                    
                    <div class="text-[#CE0000]">
                        <a href="#" class="btn-first text-[#CE0000] text-lg font-500 rounded-[4px] bg-[#CE0000] bg-opacity-[0.06] hover-link-none" uk-scrollspy="cls: uk-animation-fade; delay: 100; repeat: true">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="uk-section h-[100vh] uk-padding-remove-bottom uk-visible@m" uk-scrollspy="target: .animFade; cls: uk-animation-fade; delay: 100; repeat: true">
        
        <div class="uk-cover-container h-full">
            <img class="pt-[140px]" src="../assets/img/about/about-mountain-img.png" alt="" uk-cover loading="lazy">
            
            <div class="uk-container uk-container-xlarge uk-position-relative">
                
                
                <div class="absolute top-[0px] left-[70px] 2xl:left-[40px]">
                    <div class="w-[420px] xl:w-[580px] 2xl:w-[700px] flex flex-col space-y-[20px] relative">
                        <div>
                            <h3 class="heading-third text-[#CE0000] uk-display-inline-block pb-[20px]">Vision</h3>
                        </div>
                        <div class="about-mount-content-wrapper-line-thin-left absolute top-[60px] left-0">
                            <img src="../assets/img/svg/why-line-fat.svg" alt="line">
                        </div>
                        <div class="about-mount-content-wrapper-line-left absolute top-[61px] right-[-105px]">
                            <div class="w-[650px] h-[1px] bg-[#111] bg-opacity-[0.08] uk-position-relative">
                                <div class="absolute top-[45px] right-[-140px] rotate-[35deg]">
                                    <div class="w-[158px] h-[1px] bg-[#111] bg-opacity-[0.08]"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="2xl:w-auto text-lg xl:text-xl 2xl:text-2xl text-[#111] text-opacity-[0.72] animFade">
                                To be renowned as the most reliable and valuable trucking company to work for. We aim to be known for our strong bonds with our drivers, so we together can provide the smoothest transportation experience across all of North America. 
                            </p>
                        </div>
                    </div> 
                </div>
                
                <div class="about-mount-content-wrapper-circle absolute top-[155px] right-[695px]" style="z-index: 1;">
                    <div class="w-[30px] h-[30px] bg-[#fff] rounded-full flex items-center justify-center">
                        <div class="bg-[#CE0000] w-[18px] h-[18px] rounded-full"></div>
                    </div>
                </div>
                
                <div class="absolute top-0 right-[0px] 2xl:right-[0px]">
                    <div class="w-[400px] xl:w-[450px] flex flex-col space-y-[20px] relative">
                        <div>
                            <h3 class="heading-third text-[#CE0000] uk-display-inline-block pb-[20px]">Mission</h3>
                        </div>
                        <div class="about-mount-content-wrapper-line-thin-right absolute top-[60px] left-0">
                            <img src="../assets/img/svg/why-line-fat.svg" alt="line">
                        </div>
                        <div class="about-mount-content-wrapper-line-right absolute top-[61px]  left-[-140px]">
                            <div class="w-[180px] h-[1px] bg-[#111] bg-opacity-[0.08] uk-position-relative">
                                <div class="absolute top-[45px] left-[-140px] rotate-[-35deg]">
                                    <div class="w-[158px] h-[1px] bg-[#111] bg-opacity-[0.08]"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="2xl:w-auto text-lg xl:text-xl 2xl:text-2xl text-[#111] text-opacity-[0.72] animFade">
                                We strive to provide a unparalleled service by creating a culture of rich relationships between our customers and our fleet members. 
                            </p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    
    <section class="uk-section uk-overflow-hidden uk-hidden@m">

        <div class="uk-container uk-container-xlarge uk-position-relative">
            <div class="uk-child-width-1-1" uk-grid>
                <div id="aboutVision">
                    <div class="uk-width-3-5@s">
                        <div>
                            <h3 class="heading-third text-[#CE0000] uk-display-inline-block pb-[20px]">Vision</h3>
                        </div>
                        <div class="mb-[20px]">
                            <img src="../assets/img/svg/why-line-fat.svg" alt="line">
                        </div>
                        <div>
                            <p class="2xl:w-auto sm:text-lg text-[#111] text-opacity-[0.72]">
                                To be renowned as the most reliable and valuable trucking company to work for. We aim to be known for our strong bonds with our drivers, so we together can provide the smoothest transportation experience across all of North America. 
                            </p>
                        </div>
                    </div>
                </div>

                <div id="aboutMission">
                    <div class="uk-width-3-5@s">
                        <div>
                            <h3 class="heading-third text-[#CE0000] uk-display-inline-block pb-[20px]">Mission</h3>
                        </div>
                        <div class="mb-[20px]">
                            <img src="../assets/img/svg/why-line-fat.svg" alt="line">
                        </div>
                        <div>
                            <p class="2xl:w-auto sm:text-lg text-[#111] text-opacity-[0.72]">
                                We strive to provide a unparalleled service by creating a culture of rich relationships between our customers and our fleet members. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="uk-section bg-[#f8f8f8] py-[40px]" uk-scrollspy="target: .animTop; cls: uk-animation-slide-bottom-medium; delay: 100">
        <div class="uk-container uk-container-xlarge">
            <div class="border-t-2 border-[#111] pt-[40px] border-opacity-[0.06]">
                <ul class="uk-flex-center uk-flex-between@s uk-grid-large text-center sm:text-left" uk-grid>
                    <li class="uk-width-expand@l uk-flex uk-flex-center uk-flex-left@l">
                        <div class="flex flex-col uk-text-center uk-text-left@l space-y-[36px]">
                            <div class="uk-flex uk-flex-center uk-flex-left@l">
                                <img class="w-[200px] sm:w-[348px]" src="../assets/img/svg/logo.svg" alt="logo">
                            </div>
                            <div class="uk-flex uk-flex-center uk-flex-left@l">
                                <div class="uk-width-3-4@s lg:w-[290px]">
                                    <p class="text-[#111] text-lg" style="line-height: 26px;">
                                        Linestar is a North American logistics company. We provide a wide range of logistic services.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="w-full sm:w-auto lg:w-[180px] xl:w-[200px] 2xl:w-[240px]">
                        <ul class="flex flex-col space-y-[19px]">
                            <li class="text-[#111] animTop">
                                <h4 class="font-600 text-[#111]" style="font-family: 'Jost', sans-serif;">About us</h4>
                            </li>
                            <li class="text-[#111] animTop">
                                <a href="./about.html#whuWeAre" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                    Who we are
                                </a>
                            </li>
                            <li class="text-[#111] animTop">
                                <a href="./about.html#aboutMission" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                    Our mission
                                </a>
                            </li>
                            <li class="text-[#111] animTop">
                                <a href="./about.html#aboutVision" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                    Our vision
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="w-full sm:w-auto lg:w-[200px] xl:w-[220px] 2xl:w-[260px]">
                        <ul class="flex flex-col space-y-[19px]">
                            <li class="text-[#111] animTop">
                                <h4 class="font-600 text-[#111]" style="font-family: 'Jost', sans-serif;">Why choose us</h4>
                            </li>
                            <li class="text-[#111] animTop">
                                <a href="#" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                    Driver safety
                                </a>
                            </li>
                            <li class="text-[#111] animTop">
                                <a href="#" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                    Our fleet
                                </a>
                            </li>
                            <li class="text-[#111] animTop">
                                <a href="#" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                    24/7 Dispatch team
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="w-full sm:w-auto lg:w-[160px] xl:w-[180px] 2xl:w-[220px]">
                        <ul class="flex flex-col space-y-[19px]">
                            <li class="text-[#111] animTop">
                                <h4 class="font-600 text-[#111]" style="font-family: 'Jost', sans-serif;">Our services</h4>
                            </li>
                            <li class="text-[#111] animTop">
                                <a href="./services.html#serviceItem1" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                    Dry Van
                                </a>
                            </li>
                            <li class="text-[#111] animTop">
                                <a href="./services.html#serviceItem2" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                    Partical loads
                                </a>
                            </li>
                            <li class="text-[#111] animTop">
                                <a href="./services.html#serviceItem3" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                    Drop and hook
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sm:w-[220px] lg:w-[200px] 2xl:w-[220px]">
                        <div class="flex sm:justify-end justify-center">
                            <ul class="flex flex-col space-y-[19px]">
                                <li class="text-[#111] animTop">
                                    <h4 class="font-600 text-[#111]" style="font-family: 'Jost', sans-serif;">For drivers</h4>
                                </li>
                                <li class="text-[#111] animTop">
                                    <a href="./drivers.html#benifits" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                        Benefits
                                    </a>
                                </li>
                                <li class="text-[#111] animTop">
                                    <a href="./drivers.html#qualification" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                        Driver qualification
                                    </a>
                                </li>
                                <li class="text-[#111] animTop">
                                    <a href="#" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                        Orientation
                                    </a>
                                </li>
                                <li class="text-[#111] animTop">
                                    <a href="./drivers.html#orientation" class="text-[#111] text-opacity-[0.72] hover-link-none duration-200">
                                        Vacancies
                                    </a>
                                </li>
                                <li class="text-[#CE0000] text-opacity-[0.72] animTop">
                                    <a href="apply.html" class="text-[#CE0000] hover-link-none duration-200 flex items-center">
                                        Apply as driver
                                        <svg class="stroke-current ml-[8px]" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.8203 4.44775L15.3728 9.00025L10.8203 13.5528" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M2.625 9H15.2475" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>                                            
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="border-t-2 border-[#111] py-[40px] border-opacity-[0.06] uk-margin-large-top">
                <ul class="uk-flex-middle uk-flex-between uk-text-center uk-text-left@s" uk-grid>
                    <li class="uk-width-expand">
                        <h3 class="text-[#111] font-500 text-[30px]">
                            Contacts
                        </h3>
                    </li>
                    <li class="w-full sm:w-[50%] md:w-[200px] xl:w-[300px] 2xl:w-[360px]">
                        <div class="text-[#CE0000aa]">
                            <h5 class="text-sm font-600 text-[#111] uk-text-uppercase" style="font-family: 'Jost', sans-serif;">PHONE NUMBER</h5>
                            <a href="#" class="text-[#CE0000] 2xl:text-lg hover-link-none duration-300 mt-[6px]">
                                513-795-1155
                            </a>
                        </div>
                    </li>
                    <li class="w-full sm:w-[50%] md:w-[300px] 2xl:w-[360px]">
                        <div class="text-[#CE0000]">
                            <h5 class="text-sm font-600 text-[#111] uk-text-uppercase" style="font-family: 'Jost', sans-serif;">EMAIL</h5>
                            <a href="#" class="text-[#CE0000] 2xl:text-lg hover-link-none duration-300 mt-[6px] line-animation">
                                dispatch@linestarlogistics.com
                            </a>
                        </div>
                    </li>
                    <li class="w-full sm:w-[50%] lg:w-[330px] 2xl:w-[360px]">
                        <div class="text-[#CE0000aa]">
                            <h5 class="text-sm font-600 text-[#111] uk-text-uppercase" style="font-family: 'Jost', sans-serif;">PHONE NUMBER</h5>
                            <div>
                                <a href="#" class="text-[#CE0000] 2xl:text-lg hover-link-none duration-300">
                                    513-449-1225 or
                                </a>
                                <a href="#" class="text-[#CE0000] 2xl:text-lg hover:no-underline hover:text-[#CE0000] duration-300 line-animation">
                                    hr@linestarlogistics.com
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="border-t-2 border-[#111] pt-[40px] border-opacity-[0.06]">
                <ul class="uk-flex-middle uk-flex-between@m uk-flex-center uk-text-left@m uk-text-center uk-child-width-1-1 uk-child-width-auto@m" uk-grid>
                    <li class="w-[330px]">
                        <p class="text-[#111] text-opacity-[0.48]">
                            © <span class="text-[#111]">Expro</span> Barcha huquqlar himoyalangan 
                        </p>
                    </li>
                    <li class="uk-flex uk-flex-center">
                        <div class="uk-grid uk-flex-middle" uk-grid>
                            <div>
                                <a href="#" class="group animTop">
                                    <img class="w-[24px] h-[24px] group-hover:scale-110 duration-300" src="../assets/img/svg/instagram.svg" alt="instagram">
                                </a>
                            </div>
                            <div>
                                <a href="#" class="group animTop">
                                    <img class="w-[24px] h-[24px] group-hover:scale-110 duration-300" src="../assets/img/svg/telegram.svg" alt="telegram">
                                </a>
                            </div>
                            <div>
                                <a href="#" class="group animTop">
                                    <img class="w-[24px] h-[24px] group-hover:scale-110 duration-300" src="../assets/img/svg/facebook.svg" alt="facebook">
                                </a>
                            </div>
                            <div>
                                <a href="#" class="group animTop">
                                    <img class="w-[24px] h-[24px] group-hover:scale-110 duration-300" src="../assets/img/svg/youtube.svg" alt="youtube">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="w-[330px]">
                        <div class="flex uk-flex-right@m uk-flex-center">
                            <p class="text-[#111]">
                                Powered by
                            </p>
                            <a class="ml-[6px]" href="http://mount.uz">
                                <img class="w-[100px]" src="../assets/img/svg/mount-logo.svg" alt="logo">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <div id="overlay" class="uk-position-fixed uk-width-1-1 uk-height-1-1 uk-position-top-left uk-flex uk-flex-center uk-flex-middle" style="background-color: #111 !important; z-index: 10001;">
        <div id="loader" class="w-full h-full">
            <div class="bg-[#111] w-full h-full flex items-center flex-col justify-center">
                <div class="loader book">
                    <figure class="page"></figure>
                    <figure class="page"></figure>
                    <figure class="page"></figure>
                </div>
                <h1 class="loader-title" style="font-family: 'Jost', sans-serif;">Loading</h1>
            </div>
        </div>
    </div>
    
    <script src="../assets/js/uikit-icons.min.js"></script>
    <script src="../assets/js/uikit.min.js"></script>
    
    <script src="../assets/js/main.js"></script>
    
</body>
</html>